body {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background: -webkit-linear-gradient(45deg, #0ac688, #0092e7, #961091);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #0ac688, #0092e7, #961091);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Quicksand', sans-serif;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #FFF;
  font-weight: 900;
  font-size: 32px;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-left: 5px;
  margin-right: 5px;
}

nav ul li a {
  color: #FFF;
  display: block;
  padding: 10px 20px;
  border-radius: 1px;
}

nav ul li a:hover {
  color: #0ac688;
  transform: scale(1.1);
  transition: 300ms;
}

.cta {
  background-color: #0ac688;
  color: #FFF;
}

.cta:hover {
  background-color: #0ac688;
  color: #FFF;
}

.test-question {
  background: white;
  border: gray;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 500px;
}
.test-title{
  font-size: 20px;
}
.test-answer{
  margin-left: 10px;
}

.test-submit {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  border-radius: 10px;
  cursor: pointer;
}

/* ************************************** */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#info{
  position:fixed;  
     bottom:40%;
     left: 50%;   
     width:100%;
}